---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

import BaseLayout from '@components/layouts/BaseLayout.astro';
import Pagination from '@components/Pagination.astro';
import PostList from '@components/PostList.astro';

import { getAllPosts, getUniqueTags, sortPostsByDate } from '@utils/getPosts';

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();
	const sortedPosts = sortPostsByDate(allPosts);
	const uniqueTags = getUniqueTags(sortedPosts);

	return paginate(sortedPosts, {
		pageSize: 10,
		props: {
			uniqueTags,
		},
	});
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, uniqueTags } = Astro.props;

const paginateProps = {
	nextUrl: page.url.next,
	prevUrl: page.url.prev,
};
---

<BaseLayout title='Posts' description='List of posts by HCI EC³'>
	<div class='w-4/5 md:w-3/5 xl:w-1/2 mx-auto mt-36'>
		<h1 class='text-4xl font-bold text-center glow'>Posts</h1>
		<!-- 2 columns, one for posts and one for tags -->
		<div class='grid grid-cols-1 md:grid-cols-3 gap-10 mt-12'>
			<!-- Posts column -->
			<div class='col-span-2'>
				<PostList posts={page.data} />
				<!-- Pagination -->
				<Pagination {paginateProps} />
			</div>
			<!-- Tags column -->
			<div transition:name='tags-section'>
				<h2 class='text-2xl glow'>Tags</h2>
				<div class='mt-2'>
					{
						uniqueTags.slice(0, 10).map((tag) => (
							<p>
								<a href={`/tags/${tag}`} class='tag underline italic'>
									# {tag}
								</a>
							</p>
						))
					}
				</div>
				<p class='mt-8'>
					<a href='/tags' class='tag underline italic'>
						View all {uniqueTags.length} tags &rarr;
					</a>
				</p>
			</div>
		</div>
	</div>
</BaseLayout>
