---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import BaseLayout from '@components/layouts/BaseLayout.astro';
import { getAllPosts } from '@utils/getPosts';
import { render } from 'astro:content';

import 'katex/dist/katex.min.css';

export const getStaticPaths = (async () => {
	const posts = await getAllPosts();

	return posts.map((post) => ({
		params: {
			id: post.id,
		},
		props: { post },
	}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props;

const { remarkPluginFrontmatter, Content } = await render(post);
---

<BaseLayout title={post.data.title}>
	<div
		class='prose prose-invert prose-headings:text-glow prose-headings:text-[var(--text-color)] prose-a:text-[var(--text-color)] mx-auto mt-36'
		data-pagefind-body
	>
		<h1>{post.data.title}</h1>
		<p class='-mt-6'>
			<span data-pagefind-filter='author'>{post.data.author}</span>
			<span class='font-bold'>&middot;</span>
			<span>
				{
					post.data?.updatedDate
						? new Date(post.data.updatedDate).toLocaleDateString()
						: new Date(post.data.publishedDate).toLocaleDateString()
				}
			</span>
		</p>
		<p class='-mt-6'>
			<span class='icon-[mdi--tags] text-xl relative top-[6px]'></span>
			{
				post.data.tags.map((tag) => (
					<>
						<a
							href={`/tags/${tag}`}
							class='tag underline italic inline-block'
							data-pagefind-filter='tag'
						>
							# {tag}
						</a>
					</>
				))
			}
		</p>
		<p class='-mt-6'>
			{remarkPluginFrontmatter.readingTime.text}
		</p>

		<Content />
	</div>
</BaseLayout>
